.button:disabled {
  @apply cursor-not-allowed opacity-70;
}
.button {
  @apply pointer-events-auto relative m-0 inline-block cursor-pointer overflow-hidden bg-white font-chakraPetch transition-all duration-100 ease-linear;
}

.button::before,
.button::after {
  @apply absolute -bottom-1 -left-1 -right-1 -top-1;
}
.button--greip {
  @apply overflow-hidden;
}

.button--greip div {
  @apply relative z-0;
}

.button--greip > div {
  @apply overflow-hidden;
}

.button--greip:hover > div > div {
  @apply animate-hover-up-end text-black;
}

.button--greip:disabled > div > div {
  @apply animate-none text-inherit;
}

.button--greip::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  @apply origin-[50%_100%] transition-all duration-300 ease-button-greip content-[''];
}

.button--greip:hover::before {
  clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
  @apply duration-300;
}

.button--greip:disabled::before {
  clip-path: none;
}
